{% extends "base.html" %}

{% block content %}
<section id="section_form">
    <div class="box_form">
        <img class="logo" src="static/logo.png" alt="log">
        <h1>{{ title }}</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=35) }}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=35) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=35) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        <a href="{{ url_for('login') }}">{{ login_message }}</a>
    </div>
</section>
{% set  a = 0 %}
{% for error in  form.password.errors + form.username.errors + form.email.errors %}
{% if error == user_exists %}
<script>
    window.onload = function () {
        var form_error_message = "{{user_exists}}";
        formFail(form_error_message);
    };
</script>
{% endif %}
{% if error == email_exists %}
<script>
    window.onload = function () {
        var form_error_message = "{{email_exists}}";
        formFail(form_error_message);
    };
</script>
{% endif %}
{% if error == 'This field is required.' and a == 0%}
<script>
    window.onload = function () {
        var form_error_message = "{{form_error_message}}";
        formFail(form_error_message);
    };
</script>
{% set a = 1 %}
{% endif %}
{% endfor %}
{% endblock %}
